.about{
   .aboutPage{
    padding: 20px 150px 20px 150px;
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: justify;
        font-weight: 400;
        text-transform: none;
        letter-spacing: 0;
    }
   } 
}