.politic {
    .politicPage {
        display: flex;

        .left {
            gap: 10px;
            flex: 1;
            display: flex;
            padding: 30px;
            position: sticky;
            height: 100%;
            -webkit-box-shadow: 2px 0px 7px -5px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 0px 7px -5px rgba(0, 0, 0, 0.5);
        }

        .right {
            padding: 20px 150px 20px 150px;
            display: flex;
            flex: 3;
            flex-direction: column;
        h2 {
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: 500;
        }

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            text-align: justify;
            font-weight: 400;
            text-transform: none;
            letter-spacing: 0;
        }

        li{
            margin-inline-start: 50px;
        }

        .buttonContact {
            display: flex;
            justify-content: center;
            align-items: center;

            button{ 
                width: 30%;
                border: none;
                padding: 15px 20px;
                background-color: teal;
                color: white;
                cursor: pointer;
            }
           
        }
    }
    }
}